<html>

<head>
	<link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }} />
</head>

<body>
	<a href="{{url_for('logout')}}">Click here to log out</a>
	<a href="{{url_for('bp.newcomment')}}">Click here to create comment</a>
	<h1 style="font-size:2vw">Movie Explorer</h1>
	<h2>{{title}}</h2>
	<h3>{{tagline}}</h3>
	<p>Genres: {{genre}}</p>
	<div>
		<img src="{{poster_image}}" width=500 height=700 />
	</div>
	<a href="{{wiki_url}}"> Click here to see Wikipedia page! </a><br>



	<h2>What's Your Opinion?</h2>
	<form method="POST" action=" ">
		<label for="movieid">Movie ID:</label>
		<input type="text" id="movieid" name="movieid" value={{movieid}} readonly><br><br>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" value={{username}} readonly><br><br>
		<label for="rating">Rating (between 1 and 5):</label>
		<input type="number" id="rating" name="rating" min="1" max="5"><br><br>
		<label for="comments">Leave your comment here:</label><br><br>
		<textarea id="comments" name="comments" rows="4" cols="50">
			</textarea>
		<br><br>
		<input type="submit" value="Add your opinion!" />
		<br><br>
	</form>
	<h2>See What Others Think:</h2>
	<ol style="list-style: none;">
	{% for i in range(num_comments) %}
		<li>
			<label for="movieid">Movie ID:</label>
			{{comments[i].movieid}}<br><br> 
			<label for="username">Username:</label>
			{{comments[i].username}}<br><br> 
			<label for="rating">Rating (between 1 and 5):</label>
			{{comments[i].rating}}<br><br> 
			<label for="comments">Their Opinion:</label>
			{{comments[i].comments}}<br><br>
			<hr class="solid">
		</li>
	{% endfor %}
	</ol>
</body>

</html>